body{
    font-family: 'Roboto', sans-serif;  
}
.container{
    display: block;
    position: absolute;
    width: 411px;
    height: 731px;
    filter:blur(10px);
   
}
.heading{
    display: inline-block;
}
.heading1{
    font-family: 'Encode Sans SC',sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-left:-1px;
}
.heading2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #999898;
    margin-right:40px;
}




.add-list-icon{
    display: inline-block;
    color: #e74c3c;
    font-weight: lighter;
    font-size:56px;

}
.fa-plus-circle{
    margin-top:5px;
    font-size:56px;
    margin-right:-15px;
}
.add-list-text{
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
   
}
.todo-list-main-container{
    display:inline-block;
    margin-top: 20px;
    
}

.todo-list-container{
    width: 400px;
    height: 80px;
    border: 1px solid #e74c3c ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
}
.inner-text-1{
    text-align:left;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color:gray;
    margin-bottom: 10px;
    margin-left: 20px;
    
}
.todo-list-container1{
    width: 370px;
    height: 80px;
    border: 1px solid #ebafa9 ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
    margin-bottom: 30px;
    margin-left: 10px;
}
.todo-list-container2{
    width: 370px;
    height: 80px;
    border: 1px solid #ebafa9 ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}
.todo-list-container3{
    width: 370px;
    height: 80px;
    border: 1px solid #ebafa9 ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
    
    margin-bottom: 30px;
    margin-left: 10px;
}
.todo-list-container4{
    width: 370px;
    height: 80px;
    border: 1px solid #ebafa9;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
    margin-top: 20px;
    margin-left: 10px;
    
}
.todo-list-container5{
    width: 370px;
    height: 80px;
    border: 1px solid #ebafa9 ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
    margin-top: 20px;
    margin-left: 10px;
}
.add-newlist-container{
    width: 320px;
    height: 190px;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
    filter: blur(0);
    background-color: white;
    position: absolute;
    margin-top: 250px;
    margin-bottom: 30px;
    margin-left: 40px;
    
   
    

}
.add-newlist{
    color: #e74c3c;
    text-align: center;
    margin-top: 40px;
    font-size: 23px;
    font-weight:400;

}
.input{
    height:38px;
    width: 220px;
    border: 1px solid #e74c3c;
    margin-left: 48px;
    border-radius:6px;
    box-shadow: 5px 5px 5px lightgrey;
    margin-top:-4px;
}
.btn{
    height: 44px;
    width: 110px;
    color: white;
    border-radius:25px;
    background-color:#e74c3c ;
    margin-left:105px;
    margin-top:7px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    box-shadow:0px;
    border-color:#e74c3c ;

}